<article
  class="p-4 w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 post hidden {{ post.categories | cssClassesForShowingCategory }}"
  data-category="any">
  <div class="flex flex-col h-full justify-between">
    <div class="flex flex-col items-center">
      <img class="w-16 h-16 mb-3 rounded-full shadow-lg" src="{{ post.avatar_url }}" alt="{{ post.name }} avatar" />
      <h5 id="{{ post.name | slugify }}" class="text-xl font-medium text-center text-gray-900 dark:text-white">{{ post.name }}</h5>
      <div class="flex items-center h-20 dark:text-gray-400 text-center text-gray-500 text-sm">
        <p class="">{{ post.headline }}</p>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <div class="w-full my-1 text-center">
        {% for category in post.categories %}
          <div
            class="inline-block bg-green-100 dark:bg-green-900 dark:text-green-300 font-medium me-0 px-1.5 py-0.5 rounded text-green-800 text-xs">{{ category | humanize }}</div>
        {% endfor %}
      </div>
      {% assign newsletter_link = post.links | first %}
      {% assign count = post.links | first %}
      <div class="mt-2 w-full">
        <a href="{{ newsletter_link.url }}"
          class="bg-blue-700 block dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium hover:bg-blue-800 px-4 py-2 rounded-lg text-center text-sm text-white">{{ newsletter_link.name }}</a>
      </div>
      <div class="flex flex-row pt-2 text-sm w-full">
      {% for link in post.links %}
        {% if forloop.first %}
        {% else %}

          <a href="{{ link.url }}" class="dark:text-blue-500 font-medium hover:underline px-3 py-2 py4 text-blue-600 text-center w-1/{{ forloop.length | minus: 1 }}">{{ link.name }}</a>
        {% endif %}
      {% endfor  %}
      </div>
    </div>
  </div>
</article>